.topbar {
    height: 30px;
    width: 100vw;
    background-color: rgb(106, 204, 221);


    .topbarWrapper {
        position: relative;

        .topLeft {
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;

            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .topRight {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;


            display: flex;
            flex-direction: row;
            align-items: center;


        }

    }
}